In [1]:
# 라이브러리 import 
import pandas as pd
import numpy as np 
import time

In [2]:
# pandas 라이브러리를 활용한 csv 파일 읽기 
df = pd.read_csv("product_details.csv") # product_details.csv
df2 = pd.read_csv("customer_details.csv") # customer_details.csv
df3 = pd.read_csv("E-commerece sales data 2024.csv") # E-commerece sales data 2024.csv

In [3]:
# 결측값 처리
df2 = df2.fillna(0)

In [4]:
df2

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3895,3896,40,Female,Hoodie,Clothing,28,Virginia,L,Turquoise,Summer,4.2,No,2-Day Shipping,No,No,32,Venmo,Weekly
3896,3897,52,Female,Backpack,Accessories,49,Iowa,L,White,Spring,4.5,No,Store Pickup,No,No,41,Bank Transfer,Bi-Weekly
3897,3898,46,Female,Belt,Accessories,33,New Jersey,L,Green,Spring,2.9,No,Standard,No,No,24,Venmo,Quarterly
3898,3899,44,Female,Shoes,Footwear,77,Minnesota,S,Brown,Summer,3.8,No,Express,No,No,24,Venmo,Weekly
3899,3900,52,Female,Handbag,Accessories,81,California,M,Beige,Spring,3.1,No,Store Pickup,No,No,33,Venmo,Quarterly

In [5]:
# transpose
df2.T

,0,1,2,3,4,5,6,7,8,9,...,3890,3891,3892,3893,3894,3895,3896,3897,3898,3899
Customer ID,1,2,3,4,5,6,7,8,9,10,...,3891,3892,3893,3894,3895,3896,3897,3898,3899,3900
Age,55,19,50,21,45,46,63,27,26,57,...,35,36,35,21,66,40,52,46,44,52
Gender,Male,Male,Male,Male,Male,Male,Male,Male,Male,Male,...,Female,Female,Female,Female,Female,Female,Female,Female,Female,Female
Item Purchased,Blouse,Sweater,Jeans,Sandals,Blouse,Sneakers,Shirt,Shorts,Coat,Handbag,...,Shirt,Dress,Jewelry,Hat,Skirt,Hoodie,Backpack,Belt,Shoes,Handbag
Category,Clothing,Clothing,Clothing,Footwear,Clothing,Footwear,Clothing,Clothing,Outerwear,Accessories,...,Clothing,Clothing,Accessories,Accessories,Clothing,Clothing,Accessories,Accessories,Footwear,Accessories
Purchase Amount (USD),53,64,73,90,49,20,85,34,97,31,...,81,30,86,64,78,28,49,33,77,81
Location,Kentucky,Maine,Massachusetts,Rhode Island,Oregon,Wyoming,Montana,Louisiana,West Virginia,Missouri,...,Nebraska,Colorado,Michigan,Massachusetts,Connecticut,Virginia,Iowa,New Jersey,Minnesota,California
Size,L,L,S,M,M,M,M,L,L,M,...,XL,L,L,L,L,L,L,L,S,M
Color,Gray,Maroon,Maroon,Maroon,Turquoise,White,Gray,Charcoal,Silver,Pink,...,Green,Peach,Indigo,White,White,Turquoise,White,Green,Brown,Beige
Season,Winter,Winter,Spring,Spring,Spring,Summer,Fall,Winter,Summer,Spring,...,Winter,Winter,Summer,Fall,Spring,Summer,Spring,Spring,Summer,Spring
Review Rating,3.1,3.1,3.1,3.5,2.7,2.9,3.2,3.2,2.6,4.8,...,2.6,4.7,3.5,3.3,3.9,4.2,4.5,2.9,3.8,3.1
Subscription Status,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,...,No,No,No,No,No,No,No,No,No,No
Shipping Type,Express,Express,Free Shipping,Next Day Air,Free Shipping,Standard,Free Shipping,Free Shipping,Express,2-Day Shipping,...,Standard,Free Shipping,Standard,Store Pickup,2-Day Shipping,2-Day Shipping,Store Pickup,Standard,Express,Store Pickup
Discount Applied,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,...,No,No,No,No,No,No,No,No,No,No
Promo Code Used,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,...,No,No,No,No,No,No,No,No,No,No
Previous Purchases,14,2,23,49,31,14,49,19,8,4,...,33,6,5,29,44,32,41,24,24,33
Payment Method,Venmo,Cash,Credit Card,PayPal,PayPal,Venmo,Cash,Credit Card,Venmo,Cash,...,Debit Card,Bank Transfer,PayPal,Bank Transfer,Credit Card,Venmo,Bank Transfer,Venmo,Venmo,Venmo
Frequency of Purchases,Fortnightly,Fortnightly,Weekly,Weekly,Annually,Weekly,Quarterly,Weekly,Annually,Quarterly,...,Annually,Quarterly,Fortnightly,Bi-Weekly,Every 3 Months,Weekly,Bi-Weekly,Quarterly,Weekly,Quarterly

In [6]:
# pivot table
df2 = pd.pivot_table(df2, index='Payment Method', columns=['Size','Season'], values='Customer ID', aggfunc='count')

In [7]:
df2

Size              L                         M                         S  \
Season         Fall Spring Summer Winter Fall Spring Summer Winter Fall
Payment Method
Bank Transfer    36     34     47     48   67     69     73     71   26
Cash             51     39     44     33   71     85     66     65   33
Credit Card      36     45     39     53   79     74     79     73   24
Debit Card       49     47     48     44   77     75     72     56   27
PayPal           45     50     38     51   64     86     77     88   24
Venmo            43     41     41     51   81     63     78     66   38

Size                                  XL
Season         Spring Summer Winter Fall Spring Summer Winter
Payment Method
Bank Transfer      25     23     26   21     11     17     18
Cash               29     35     32   24     21     17     25
Credit Card        36     20     22   19     26     20     26
Debit Card         29     27     22   16     20     11     16
PayPal             31     28     29    9     19     17     21
Venmo              29     27     21   15     15     11     14

In [8]:
# melt 를 통해 컬럼을 열로 바꿔주기 
# 인덱스를 컬럼으로 변환(인덱스 재정렬)
df2 = df2.reset_index()

In [9]:
df2

Size   Payment Method    L                         M                       \
Season                Fall Spring Summer Winter Fall Spring Summer Winter
0       Bank Transfer   36     34     47     48   67     69     73     71
1                Cash   51     39     44     33   71     85     66     65
2         Credit Card   36     45     39     53   79     74     79     73
3          Debit Card   49     47     48     44   77     75     72     56
4              PayPal   45     50     38     51   64     86     77     88
5               Venmo   43     41     41     51   81     63     78     66

Size      S                        XL
Season Fall Spring Summer Winter Fall Spring Summer Winter
0        26     25     23     26   21     11     17     18
1        33     29     35     32   24     21     17     25
2        24     36     20     22   19     26     20     26
3        27     29     27     22   16     20     11     16
4        24     31     28     29    9     19     17     21
5        38     29     27     21   15     15     11     14

In [15]:
# id_vars : 기준이 될 열 ( 그대로 유지할 열 )
# value_vars : 기준열에 대한 하위 카테고리를 나열할 열을 선택 ( 병합할 열 )
# var_name : 카테고리들이 나열된 열의 이름 설정 ( 병합 후 표현할 열 이름 )
# value_name : 카테고리들의 값이 나열될 열의 이름 설정 ( 기본값: value )
df2.melt(id_vars=['Payment Method'], var_name=['Size', 'Season'], value_name='Customer ID')

   Payment Method Size  Season  Custoㄴmer ID
0   Bank Transfer    L    Fall            36
1            Cash    L    Fall            51
2     Credit Card    L    Fall            36
3      Debit Card    L    Fall            49
4          PayPal    L    Fall            45
..            ...  ...     ...           ...
91           Cash   XL  Winter            25
92    Credit Card   XL  Winter            26
93     Debit Card   XL  Winter            16
94         PayPal   XL  Winter            21
95          Venmo   XL  Winter            14

[96 rows x 4 columns]

In [54]:
## melt 연습2
df2 = pd.read_csv("customer_details.csv") # customer_details.csv
df2 = df2.head()

#  dataframe 의 인덱스, 컬럼, 기준열이 될 locatin 의 고유값 개수를 파악.
len(df2.index), len(df2.columns), df2['Location'].nunique()

(5, 18, 5)

In [57]:
## melt 연습2
# location 기준열을 제외한 컬럼은 17개이고, 각 변수들은 5개 값을 가지고 있으므로, melt 시 총 17*5 개의 행이 생성되어야 함.
17*5

85

In [58]:
## melt 연습2
# melt 전 dataframe 확인
df2

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually

In [39]:
## melt 연습2
# id_vars : 기준이 될 열 ( 그대로 유지할 열 )
# value_vars : 기준열에 대한 하위 카테고리를 나열할 열을 선택 ( 병합할 열 )
# var_name : 카테고리들이 나열된 열의 이름 설정 ( 병합 후 표현할 열 이름 )
# value_name : 카테고리들의 값이 나열될 열의 이름 설정 ( 기본값: value )
# melt 후 총 85 개의 행이 생겼으며, 각 컬럼은 variable 과 value 값으로 들어가진 것이 보입니다. 
df2.melt(id_vars=['Location'])

         Location                variable        value
0        Kentucky             Customer ID            1
1           Maine             Customer ID            2
2   Massachusetts             Customer ID            3
3    Rhode Island             Customer ID            4
4          Oregon             Customer ID            5
..            ...                     ...          ...
80       Kentucky  Frequency of Purchases  Fortnightly
81          Maine  Frequency of Purchases  Fortnightly
82  Massachusetts  Frequency of Purchases       Weekly
83   Rhode Island  Frequency of Purchases       Weekly
84         Oregon  Frequency of Purchases     Annually

[85 rows x 3 columns]

In [59]:
## melt 연습3
# id_vars : 기준이 될 열 ( 그대로 유지할 열 )
# value_vars : 기준열에 대한 하위 카테고리를 나열할 열을 선택 ( 병합할 열 )
# var_name : 카테고리들이 나열된 열의 이름 설정 ( 병합 후 표현할 열 이름 )
# value_name : 카테고리들의 값이 나열될 열의 이름 설정 ( 기본값: value )
# location 열을 기준으로 구매주기 컬럼을 풀어주어 기존 컬럼에 있던 값이 열로 배치되었습니다.
df2.melt(id_vars=['Location'], value_vars=['Frequency of Purchases'])

        Location                variable        value
0       Kentucky  Frequency of Purchases  Fortnightly
1          Maine  Frequency of Purchases  Fortnightly
2  Massachusetts  Frequency of Purchases       Weekly
3   Rhode Island  Frequency of Purchases       Weekly
4         Oregon  Frequency of Purchases     Annually

In [11]:
# stack 
df2 = pd.read_csv("customer_details.csv") # customer_details.csv

# 필요한 컬럼 선택
df22 = df2[['Category', 'Season', 'Purchase Amount (USD)', 'Review Rating']].copy()

# pd.MultiIndex from tuples 를 통해, 멀티인덱스 설정
df22.columns = pd.MultiIndex.from_tuples([('Purchase', 'Amount'), ('Purchase', 'Review'),
                                              ('Info', 'Category'), ('Info', 'Season')])

df22

         Purchase             Info
           Amount  Review Category Season
0        Clothing  Winter       53    3.1
1        Clothing  Winter       64    3.1
2        Clothing  Spring       73    3.1
3        Footwear  Spring       90    3.5
4        Clothing  Spring       49    2.7
...           ...     ...      ...    ...
3895     Clothing  Summer       28    4.2
3896  Accessories  Spring       49    4.5
3897  Accessories  Spring       33    2.9
3898     Footwear  Summer       77    3.8
3899  Accessories  Spring       81    3.1

[3900 rows x 4 columns]

In [12]:
# stack(level=0) 적용
df_stacked_0 = df22.stack(level=0)

# stack(level=1) 적용
df_stacked_1 = df22.stack(level=1)

# 결과 비교 
display(df22, df_stacked_0, df_stacked_1)

         Purchase             Info
           Amount  Review Category Season
0        Clothing  Winter       53    3.1
1        Clothing  Winter       64    3.1
2        Clothing  Spring       73    3.1
3        Footwear  Spring       90    3.5
4        Clothing  Spring       49    2.7
...           ...     ...      ...    ...
3895     Clothing  Summer       28    4.2
3896  Accessories  Spring       49    4.5
3897  Accessories  Spring       33    2.9
3898     Footwear  Summer       77    3.8
3899  Accessories  Spring       81    3.1

[3900 rows x 4 columns]

                    Amount  Category  Review  Season
0    Info              NaN      53.0     NaN     3.1
     Purchase     Clothing       NaN  Winter     NaN
1    Info              NaN      64.0     NaN     3.1
     Purchase     Clothing       NaN  Winter     NaN
2    Info              NaN      73.0     NaN     3.1
...                    ...       ...     ...     ...
3897 Purchase  Accessories       NaN  Spring     NaN
3898 Info              NaN      77.0     NaN     3.8
     Purchase     Footwear       NaN  Summer     NaN
3899 Info              NaN      81.0     NaN     3.1
     Purchase  Accessories       NaN  Spring     NaN

[7800 rows x 4 columns]

               Info     Purchase
0    Amount     NaN     Clothing
     Category  53.0          NaN
     Review     NaN       Winter
     Season     3.1          NaN
1    Amount     NaN     Clothing
...             ...          ...
3898 Season     3.8          NaN
3899 Amount     NaN  Accessories
     Category  81.0          NaN
     Review     NaN       Spring
     Season     3.1          NaN

[15600 rows x 2 columns]

In [13]:
# unstack
# unstack(level=-1) 적용. 기본값
df_unstacked_0 = df_stacked_0.unstack(-1).reset_index()
# 결과 비교 
display(df22, df_stacked_0, df_unstacked_0)

         Purchase             Info
           Amount  Review Category Season
0        Clothing  Winter       53    3.1
1        Clothing  Winter       64    3.1
2        Clothing  Spring       73    3.1
3        Footwear  Spring       90    3.5
4        Clothing  Spring       49    2.7
...           ...     ...      ...    ...
3895     Clothing  Summer       28    4.2
3896  Accessories  Spring       49    4.5
3897  Accessories  Spring       33    2.9
3898     Footwear  Summer       77    3.8
3899  Accessories  Spring       81    3.1

[3900 rows x 4 columns]

                    Amount  Category  Review  Season
0    Info              NaN      53.0     NaN     3.1
     Purchase     Clothing       NaN  Winter     NaN
1    Info              NaN      64.0     NaN     3.1
     Purchase     Clothing       NaN  Winter     NaN
2    Info              NaN      73.0     NaN     3.1
...                    ...       ...     ...     ...
3897 Purchase  Accessories       NaN  Spring     NaN
3898 Info              NaN      77.0     NaN     3.8
     Purchase     Footwear       NaN  Summer     NaN
3899 Info              NaN      81.0     NaN     3.1
     Purchase  Accessories       NaN  Spring     NaN

[7800 rows x 4 columns]

     index Amount              Category          Review          Season  \
             Info     Purchase     Info Purchase   Info Purchase   Info
0        0    NaN     Clothing     53.0      NaN    NaN   Winter    3.1
1        1    NaN     Clothing     64.0      NaN    NaN   Winter    3.1
2        2    NaN     Clothing     73.0      NaN    NaN   Spring    3.1
3        3    NaN     Footwear     90.0      NaN    NaN   Spring    3.5
4        4    NaN     Clothing     49.0      NaN    NaN   Spring    2.7
...    ...    ...          ...      ...      ...    ...      ...    ...
3895  3895    NaN     Clothing     28.0      NaN    NaN   Summer    4.2
3896  3896    NaN  Accessories     49.0      NaN    NaN   Spring    4.5
3897  3897    NaN  Accessories     33.0      NaN    NaN   Spring    2.9
3898  3898    NaN     Footwear     77.0      NaN    NaN   Summer    3.8
3899  3899    NaN  Accessories     81.0      NaN    NaN   Spring    3.1


     Purchase
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
...       ...
3895      NaN
3896      NaN
3897      NaN
3898      NaN
3899      NaN

[3900 rows x 9 columns]