In [10]:
import pandas as pd

df = pd.read_csv("C:/msys64/home/for/10th/standard/LinearBNB/2025_Airbnb_NYC_listings.csv")
df.T

,0,1,2,3,4,5,6,7,8,9,...,22298,22299,22300,22301,22302,22303,22304,22305,22306,22307
Unnamed: 0,0,1,2,3,4,5,7,8,9,11,...,37424,37425,37426,37427,37428,37429,37430,37431,37432,37433
id,36121,36647,38663,38833,39282,39572,6848,6872,6990,7097,...,1366237322410703508,1366259830382103771,1366263359400557457,1366276159114868718,1366302485518054103,1366333532374850165,1366717321390111215,1366721904709517353,1366722692755341871,1366723228243064949
source,city scrape,city scrape,city scrape,city scrape,city scrape,city scrape,city scrape,city scrape,city scrape,city scrape,...,city scrape,city scrape,city scrape,city scrape,city scrape,city scrape,city scrape,city scrape,city scrape,city scrape
name,Lg Rm in Historic Prospect Heights,"1 Bedroom & your own Bathroom, Elevator Apartment",Luxury Brownstone in Boerum Hill,Spectacular West Harlem Garden Apt,“Work-from-home” from OUR home.,1 br in a 2 br apt (Midtown West),Only 2 stops to Manhattan studio,Uptown Sanctuary w/ Private Bath (Month to Month),UES Beautiful Blue Room,"Perfect for Your Parents, With Garden & Patio",...,New York City 5-Bed Suite,New York City 5-Bed Suite,New York City 5-Bed Suite,Fort Greene Penthouse,Time Square Private Room,Beautiful 1-Bed Apt in Harlem!,Private Room w/ Ensuite Bath H,2 Bedroom on East Side,Stylish 2Bd near Bryant Park,Modern Private Room + Bath H
description,Cozy space share in the heart of a great neigh...,Private bedroom with your own bathroom in a 2 ...,"Beautiful, large home in great hipster neighbo...",This is a very large and unique space. An inc...,*Monthly Discount will automatically apply <br...,NaN,Comfortable studio apartment with super comfor...,This charming distancing-friendly month-to-mon...,Beautiful peaceful healthy home,Parents/grandparents coming to town or are you...,...,This stylish place is close to must-see destin...,This stylish place is close to must-see destin...,You'll enjoy your time at this cheerful getaway.,"This large, sunny top floor unit with three ex...",The whole group will enjoy easy access to ever...,Welcome to your temporary home in the vibrant ...,Stylish Private Rooms w/ En-Suite Baths in Bro...,Located in the Murray Hill area and occupies a...,Enjoy everything the city has to offer while l...,Stylish Private Rooms w/ En-Suite Baths in Bro...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
calculated_host_listings_count,1,1,1,1,2,2,1,2,1,2,...,4,4,4,1,4,1,24,48,25,24
calculated_host_listings_count_entire_homes,0,0,0,1,0,1,1,0,0,0,...,0,0,0,1,1,0,0,48,25,0
calculated_host_listings_count_private_rooms,1,1,1,0,2,1,0,2,1,2,...,4,4,4,0,3,1,24,0,0,24
calculated_host_listings_count_shared_rooms,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
reviews_per_month,0.05,0.58,0.28,1.36,1.54,0.25,1.01,0.03,1.34,2.16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
# pd.set_option('display.max_columns', None)
# pd.set_option('display.max_rows', None)

df.isnull().sum()
# max(df.count(axis = 1))

Unnamed: 0                                         0
id                                                 0
source                                             0
name                                               0
description                                      405
                                                ...
calculated_host_listings_count                     0
calculated_host_listings_count_entire_homes        0
calculated_host_listings_count_private_rooms       0
calculated_host_listings_count_shared_rooms        0
reviews_per_month                               6798
Length: 73, dtype: int64

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22308 entries, 0 to 22307
Data columns (total 73 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Unnamed: 0                                    22308 non-null  int64
 1   id                                            22308 non-null  int64
 2   source                                        22308 non-null  object
 3   name                                          22308 non-null  object
 4   description                                   21903 non-null  object
 5   neighborhood_overview                         12262 non-null  object
 6   host_id                                       22308 non-null  int64
 7   host_name                                     22288 non-null  object
 8   host_since                                    22288 non-null  object
 9   host_location                                 17025 non-null  object
 10  host_about                                    13391 non-null  object
 11  host_response_time                            17915 non-null  object
 12  host_response_rate                            17915 non-null  object
 13  host_acceptance_rate                          18842 non-null  object
 14  host_is_superhost                             21934 non-null  object
 15  host_neighbourhood                            17578 non-null  object
 16  host_listings_count                           22288 non-null  float64
 17  host_total_listings_count                     22288 non-null  float64
 18  host_verifications                            22308 non-null  object
 19  host_has_profile_pic                          22288 non-null  object
 20  host_identity_verified                        22288 non-null  object
 21  neighbourhood                                 12262 non-null  object
 22  neighbourhood_cleansed                        22308 non-null  object
 23  neighbourhood_group_cleansed                  22308 non-null  object
 24  latitude                                      22308 non-null  float64
 25  longitude                                     22308 non-null  float64
 26  property_type                                 22308 non-null  object
 27  room_type                                     22308 non-null  object
 28  accommodates                                  22308 non-null  int64
 29  bathrooms                                     22302 non-null  float64
 30  bathrooms_text                                22294 non-null  object
 31  bedrooms                                      22259 non-null  float64
 32  beds                                          22229 non-null  float64
 33  amenities                                     22308 non-null  object
 34  price                                         22308 non-null  object
 35  minimum_nights                                22308 non-null  int64
 36  maximum_nights                                22308 non-null  int64
 37  minimum_minimum_nights                        22308 non-null  float64
 38  maximum_minimum_nights                        22308 non-null  float64
 39  minimum_maximum_nights                        22308 non-null  float64
 40  maximum_maximum_nights                        22308 non-null  float64
 41  minimum_nights_avg_ntm                        22308 non-null  float64
 42  maximum_nights_avg_ntm                        22308 non-null  float64
 43  calendar_updated                              0 non-null      float64
 44  has_availability                              22062 non-null  object
 45  availability_30                               22308 non-null  int64
 46  availability_60                               22308 non-null  int64
 47  availability_90                               22308 non-null  int64
 48  availability_365                              22308 non-null  int64
 49  calendar_last_scraped                         22308 non-null  object
 50  number_of_reviews                             22308 non-null  int64
 51  number_of_reviews_ltm                         22308 non-null  int64
 52  number_of_reviews_l30d                        22308 non-null  int64
 53  availability_eoy                              22308 non-null  int64
 54  number_of_reviews_ly                          22308 non-null  int64
 55  estimated_occupancy_l365d                     22308 non-null  int64
 56  estimated_revenue_l365d                       22308 non-null  float64
 57  first_review                                  15510 non-null  object
 58  last_review                                   15510 non-null  object
 59  review_scores_rating                          15510 non-null  float64
 60  review_scores_accuracy                        15510 non-null  float64
 61  review_scores_cleanliness                     15510 non-null  float64
 62  review_scores_checkin                         15510 non-null  float64
 63  review_scores_communication                   15510 non-null  float64
 64  review_scores_location                        15509 non-null  float64
 65  review_scores_value                           15510 non-null  float64
 66  license                                       4463 non-null   object
 67  instant_bookable                              22308 non-null  object
 68  calculated_host_listings_count                22308 non-null  int64
 69  calculated_host_listings_count_entire_homes   22308 non-null  int64
 70  calculated_host_listings_count_private_rooms  22308 non-null  int64
 71  calculated_host_listings_count_shared_rooms   22308 non-null  int64
 72  reviews_per_month                             15510 non-null  float64
dtypes: float64(23), int64(20), object(30)
memory usage: 12.4+ MB

In [13]:
df['host_listings_count']
# 22296       2.0
# 22297       6.0
# 22298       6.0
# 22299       6.0
# 22300       6.0
# 22301       1.0
# 22302       4.0
# 22303       1.0
# 22304      24.0
# 22305     619.0
# 22306      26.0
# 22307      24.0

0          1.0
1          1.0
2          1.0
3          1.0
4          2.0
         ...
22303      1.0
22304     24.0
22305    619.0
22306     26.0
22307     24.0
Name: host_listings_count, Length: 22308, dtype: float64

In [14]:
df['host_total_listings_count']
# 0           3.0
# 1           1.0
# 2           3.0
# 3           1.0
# 4           2.0
# 5           2.0
# 6           1.0
# 7           2.0
# 8           6.0
# 9           2.0
# 10          4.0
# 11          3.0
# 12          3.0
# 13          1.0

0           3.0
1           1.0
2           3.0
3           1.0
4           2.0
          ...
22303       2.0
22304      33.0
22305    1974.0
22306      38.0
22307      33.0
Name: host_total_listings_count, Length: 22308, dtype: float64

In [21]:
location = df[['host_id', 'host_name', 'host_since', 'host_location', 'host_response_time', 'host_response_rate', 
             'host_acceptance_rate', 'host_is_superhost', 'host_listings_count', 'host_identity_verified'
             , 'calculated_host_listings_count']]
location.head()

,host_id,host_name,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_listings_count,host_identity_verified,calculated_host_listings_count
0,62165,Michael,2009-12-11,"New York, NY",NaN,NaN,NaN,f,1.0,t,1
1,157798,Irene,2010-07-04,"New York, NY",NaN,NaN,100%,f,1.0,t,1
2,165789,Sarah,2010-07-13,"New York, NY",within a few hours,100%,40%,f,1.0,t,1
3,166532,Matthew,2010-07-14,"New York, NY",within an hour,100%,97%,t,1.0,t,1
4,168525,Gustavo,2010-07-16,"New York, NY",within an hour,100%,100%,t,2.0,t,2

In [24]:
# transaction["t_dat"] = pd.to_datetime(transaction["t_dat"]) # t_dat을 datetime타입으로 변환
# transaction["month"] = transaction["t_dat"].dt.strftime("%Y-%m") #월별 컬럼 생성
location["host_since"] = pd.to_datetime(location["host_since"])
location["month"] = location["host_since"].dt.strftime("%Y-%m")
location["month"].sort_values()
# 4626     2008-08
# 552      2008-08
# 9561     2008-08
# 1814     2008-09
# 7118     2008-09
# 1568     2008-09
# 1848     2008-09
# 2740     2008-09
# 2123     2008-09
# 1807     2008-09
# 12167    2008-10
# 43       2008-11

C:\Users\for\AppData\Local\Temp\ipykernel_22024\277094298.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  location["host_since"] = pd.to_datetime(location["host_since"])
C:\Users\for\AppData\Local\Temp\ipykernel_22024\277094298.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  location["month"] = location["host_since"].dt.strftime("%Y-%m")

4626     2008-08
552      2008-08
9561     2008-08
1814     2008-09
7118     2008-09
          ...
15380        NaN
15758        NaN
19045        NaN
19421        NaN
20749        NaN
Name: month, Length: 22308, dtype: object

In [ ]:
mon2cal = location.groupby('month')['calculated_host_listings_count'].sum()

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
mon2cal.sort_values(ascending=False)

month
2016-12    1306408
2022-02     102830
2023-08      87493
2012-08      80076
2017-12      54376
            ...
2008-11          4
2008-08          3
2009-02          2
2009-04          1
2008-10          1
Name: calculated_host_listings_count, Length: 197, dtype: int64