main subject : 신규 호스트가 어떤 가격에 숙소를 올려야 하는가?

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv("C:/msys64/home/for/10th/standard/LinearBNB/2025_Airbnb_NYC_listings.csv")
df.T

,0,1,2,3,4,5,6,7,8,9,...,22298,22299,22300,22301,22302,22303,22304,22305,22306,22307
Unnamed: 0,0,1,2,3,4,5,7,8,9,11,...,37424,37425,37426,37427,37428,37429,37430,37431,37432,37433
id,36121,36647,38663,38833,39282,39572,6848,6872,6990,7097,...,1366237322410703508,1366259830382103771,1366263359400557457,1366276159114868718,1366302485518054103,1366333532374850165,1366717321390111215,1366721904709517353,1366722692755341871,1366723228243064949
source,city scrape,city scrape,city scrape,city scrape,city scrape,city scrape,city scrape,city scrape,city scrape,city scrape,...,city scrape,city scrape,city scrape,city scrape,city scrape,city scrape,city scrape,city scrape,city scrape,city scrape
name,Lg Rm in Historic Prospect Heights,"1 Bedroom & your own Bathroom, Elevator Apartment",Luxury Brownstone in Boerum Hill,Spectacular West Harlem Garden Apt,“Work-from-home” from OUR home.,1 br in a 2 br apt (Midtown West),Only 2 stops to Manhattan studio,Uptown Sanctuary w/ Private Bath (Month to Month),UES Beautiful Blue Room,"Perfect for Your Parents, With Garden & Patio",...,New York City 5-Bed Suite,New York City 5-Bed Suite,New York City 5-Bed Suite,Fort Greene Penthouse,Time Square Private Room,Beautiful 1-Bed Apt in Harlem!,Private Room w/ Ensuite Bath H,2 Bedroom on East Side,Stylish 2Bd near Bryant Park,Modern Private Room + Bath H
description,Cozy space share in the heart of a great neigh...,Private bedroom with your own bathroom in a 2 ...,"Beautiful, large home in great hipster neighbo...",This is a very large and unique space. An inc...,*Monthly Discount will automatically apply <br...,NaN,Comfortable studio apartment with super comfor...,This charming distancing-friendly month-to-mon...,Beautiful peaceful healthy home,Parents/grandparents coming to town or are you...,...,This stylish place is close to must-see destin...,This stylish place is close to must-see destin...,You'll enjoy your time at this cheerful getaway.,"This large, sunny top floor unit with three ex...",The whole group will enjoy easy access to ever...,Welcome to your temporary home in the vibrant ...,Stylish Private Rooms w/ En-Suite Baths in Bro...,Located in the Murray Hill area and occupies a...,Enjoy everything the city has to offer while l...,Stylish Private Rooms w/ En-Suite Baths in Bro...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
calculated_host_listings_count,1,1,1,1,2,2,1,2,1,2,...,4,4,4,1,4,1,24,48,25,24
calculated_host_listings_count_entire_homes,0,0,0,1,0,1,1,0,0,0,...,0,0,0,1,1,0,0,48,25,0
calculated_host_listings_count_private_rooms,1,1,1,0,2,1,0,2,1,2,...,4,4,4,0,3,1,24,0,0,24
calculated_host_listings_count_shared_rooms,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
reviews_per_month,0.05,0.58,0.28,1.36,1.54,0.25,1.01,0.03,1.34,2.16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN