In [1]:
import pandas as pd

df = pd.read_csv("C:/msys64/home/for/10th/standard/flight_data_homework.csv")
print(df.shape)
print(df.head())

(10683, 11)
       Airline Date_of_Journey    Source Destination                  Route  \
0       IndiGo      24/03/2019  Banglore   New Delhi              BLR → DEL
1    Air India       1/05/2019   Kolkata    Banglore  CCU → IXR → BBI → BLR
2  Jet Airways       9/06/2019     Delhi      Cochin  DEL → LKO → BOM → COK
3       IndiGo      12/05/2019   Kolkata    Banglore        CCU → NAG → BLR
4       IndiGo      01/03/2019  Banglore   New Delhi        BLR → NAG → DEL

  Dep_Time  Arrival_Time Duration Total_Stops Additional_Info  Price
0    22:20  01:10 22 Mar   2h 50m    non-stop         No info   3897
1    05:50         13:15   7h 25m     2 stops         No info   7662
2    09:25  04:25 10 Jun      19h     2 stops         No info  13882
3    18:05         23:30   5h 25m      1 stop         No info   6218
4    16:50         21:35   4h 45m      1 stop         No info  13302

In [2]:
import pandas as pd

df = pd.read_csv("C:/msys64/home/for/10th/standard/flight_data_homework.csv")

print(df.isnull().sum())
df = df.dropna(axis = 0)

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              1
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        1
Additional_Info    0
Price              0
dtype: int64

In [ ]:
# 내가 푼 코드
# import pandas as pd

# df = pd.read_csv("C:/msys64/home/for/10th/standard/flight_data_homework.csv")

# Des_Pr = df.groupby("Destination")["Price"].sum()
# des_pr_mean = df.groupby("Destination")["Price"].mean()
# des_pr_median = df.groupby("Destination")["Price"].median()

# mean2 = round(des_pr_mean, 1)
# median2 = round(des_pr_median, 1)

# # destination기준 price 평균, 중앙값
# print(mean2)
# print(median2)

# # airline, Total_stops기준 Route 중복없이 count
# df2 = df.groupby(["Airline", "Total_Stops"])["Route"].nunique().reset_index()
# df2

In [ ]:
# 정답코드
# >>동시에 출력해야 하므로 aggfunction을 사용했어야 했다. 문제를 읽는데서 온 실수
import pandas as pd

df = pd.read_csv("C:/msys64/home/for/10th/standard/flight_data_homework.csv")

df.groupby("Destination")["Price"].agg(['mean', 'median']).round(1).reset_index()

  Destination     mean   median
0    Banglore   9158.4   9345.0
1      Cochin  10539.4  10262.0
2       Delhi   5143.9   4823.0
3   Hyderabad   5059.7   3342.0
4     Kolkata   4789.9   3850.0
5   New Delhi  11917.7  10898.5

In [6]:
import pandas as pd
from IPython.display import display

df = pd.read_csv("C:/msys64/home/for/10th/standard/flight_data_homework.csv")

# 피벗테이블, 출발지 도착지 기준 count airline, desc
#### columns는 필수가 아니다..! ####
pivot = pd.pivot_table(df, index=['Source', 'Destination'], values = 'Airline', aggfunc='count').sort_values('Airline', ascending = False).reset_index()


# 필터링
filter = df.loc[(df["Airline"] == "Air India") & (df["Price"] >= 7000)]



display(pivot)
display(filter)

     Source Destination  Airline
0     Delhi      Cochin     4537
1   Kolkata    Banglore     2871
2  Banglore       Delhi     1265
3  Banglore   New Delhi      932
4    Mumbai   Hyderabad      697
5   Chennai     Kolkata      381

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
10,Air India,1/06/2019,Delhi,Cochin,DEL → BLR → COK,09:45,23:00,13h 15m,1 stop,No info,8907
15,Air India,3/03/2019,Delhi,Cochin,DEL → AMD → BOM → COK,16:40,19:15 04 Mar,26h 35m,2 stops,No info,14011
18,Air India,12/06/2019,Delhi,Cochin,DEL → CCU → BOM → COK,20:15,19:15 13 Jun,23h,2 stops,No info,13381
31,Air India,1/05/2019,Kolkata,Banglore,CCU → GAU → DEL → BLR,09:50,23:15,13h 25m,2 stops,No info,13227
...,...,...,...,...,...,...,...,...,...,...,...
10661,Air India,9/05/2019,Delhi,Cochin,DEL → BOM → COK,13:00,19:15,6h 15m,1 stop,No info,8372
10662,Air India,24/03/2019,Kolkata,Banglore,CCU → BOM → GOI → BLR,09:25,05:35 25 Mar,20h 10m,2 stops,No info,12352
10669,Air India,15/06/2019,Delhi,Cochin,DEL → BOM → COK,08:00,19:15,11h 15m,1 stop,No info,9929
10670,Air India,12/05/2019,Kolkata,Banglore,CCU → IXR → DEL → BLR,05:50,23:15,17h 25m,2 stops,No info,11411
10682,Air India,9/05/2019,Delhi,Cochin,DEL → GOI → BOM → COK,10:55,19:15,8h 20m,2 stops,No info,11753

In [ ]:
# 내가 푼 코드
# rrule을 사용할 때 시작날짜와 마지막날짜를 구하고, 옵션들을 지정해야 하므로
# start_date, end_date라는 변수가 필요했고, 각각의 옵션들을 넣어서 슬라이싱한 변수를 isin함수로 구한뒤
# 평균을 구해야했던 문제.

# import pandas as pd
# from IPython.display import display
# from dateutil.rrule import rrule, DAILY, WEEKLY, MONTHLY, YEARLY, MO, TU, WE, TH, FR, SA, SU

# df = pd.read_csv("C:/msys64/home/for/10th/standard/flight_data_homework.csv")
# df["Date_of_Journey"] = pd.to_datetime(df["Date_of_Journey"])

# # rrule(df["Date_of_Journey"], WEEKLY, byweekday=WE)
# we_DOJ = df[df["Date_of_Journey"].dt.weekday == 2]
# we_DOJ["Price"].mean()

C:\Users\for\AppData\Local\Temp\ipykernel_24276\2101291818.py:6: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df["Date_of_Journey"] = pd.to_datetime(df["Date_of_Journey"])

7996.290806754221

In [ ]:
#정답코드

import pandas as pd
from dateutil.rrule import rrule, DAILY, WEEKLY, MONTHLY, YEARLY, MO, TU, WE, TH, FR, SA, SU

df = pd.read_csv("C:/msys64/home/for/10th/standard/flight_data_homework.csv")
df["Date_of_Journey"] = pd.to_datetime(df["Date_of_Journey"], infer_datetime_format=True)

start_date = df["Date_of_Journey"].min()
end_date = df["Date_of_Journey"].max()

n1 = list(rrule(WEEKLY, dtstart=start_date, until=end_date, byweekday=WE))
n2 = df[df["Date_of_Journey"].isin(n1)]['Price'].mean()
n2

9277.51418951419

In [ ]:
#람다 안에서 인라인으로 조건문을 만드는 방법
# (1)만족값 (2)if (3)조건 (4)못했을때 결과값

import pandas as pd
from IPython.display import display
import datetime as dt

df = pd.read_csv("C:/msys64/home/for/10th/standard/flight_data_homework.csv")

display(df.T)

# df["Dep_Time"].info
df["Dep_Time"] = pd.to_datetime(df["Dep_Time"], format="%H:%M")
# df["Dep_Time"].info

df["time_sep"] = df["Dep_Time"].dt.hour.apply(
    lambda x : (
        "mor" if 5 <= x < 12
        else "aft" if 12 <= x < 18
        else "din" if 18 <= x < 24
        else "night"
    )    
)
df.groupby("time_sep")["Airline"].count()