In [4]:
import pandas as pd

df = pd.read_csv("C:/msys64/home/for/10th/standard/flight_data_homework.csv")
print(df.shape)
print(df.head())

(10683, 11)
       Airline Date_of_Journey    Source Destination                  Route  \
0       IndiGo      24/03/2019  Banglore   New Delhi              BLR → DEL
1    Air India       1/05/2019   Kolkata    Banglore  CCU → IXR → BBI → BLR
2  Jet Airways       9/06/2019     Delhi      Cochin  DEL → LKO → BOM → COK
3       IndiGo      12/05/2019   Kolkata    Banglore        CCU → NAG → BLR
4       IndiGo      01/03/2019  Banglore   New Delhi        BLR → NAG → DEL

  Dep_Time  Arrival_Time Duration Total_Stops Additional_Info  Price
0    22:20  01:10 22 Mar   2h 50m    non-stop         No info   3897
1    05:50         13:15   7h 25m     2 stops         No info   7662
2    09:25  04:25 10 Jun      19h     2 stops         No info  13882
3    18:05         23:30   5h 25m      1 stop         No info   6218
4    16:50         21:35   4h 45m      1 stop         No info  13302

In [ ]:
import pandas as pd

df = pd.read_csv("C:/msys64/home/for/10th/standard/flight_data_homework.csv")

print(df.isnull().sum())
df = df.dropna(axis = 0)

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              1
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        1
Additional_Info    0
Price              0
dtype: int64

(10682, 11)

In [27]:
import pandas as pd

df = pd.read_csv("C:/msys64/home/for/10th/standard/flight_data_homework.csv")

Des_Pr = df.groupby("Destination")["Price"].sum()
des_pr_mean = df.groupby("Destination")["Price"].mean()
des_pr_median = df.groupby("Destination")["Price"].median()

mean2 = round(des_pr_mean, 1)
median2 = round(des_pr_median, 1)

# destination기준 price 평균, 중앙값
print(mean2)
print(median2)

# airline, Total_stops기준 Route 중복없이 count
df2 = df.groupby(["Airline", "Total_Stops"])["Route"].nunique().reset_index()
df2

Destination
Banglore      9158.4
Cochin       10539.4
Delhi         5143.9
Hyderabad     5059.7
Kolkata       4789.9
New Delhi    11917.7
Name: Price, dtype: float64
Destination
Banglore      9345.0
Cochin       10262.0
Delhi         4823.0
Hyderabad     3342.0
Kolkata       3850.0
New Delhi    10898.5
Name: Price, dtype: float64

                              Airline Total_Stops  Route
0                            Air Asia      1 stop      3
1                            Air Asia     2 stops      1
2                            Air Asia    non-stop      2
3                           Air India      1 stop     25
4                           Air India     2 stops     50
5                           Air India     3 stops     11
6                           Air India     4 stops      1
7                           Air India    non-stop      5
8                               GoAir      1 stop      7
9                               GoAir    non-stop      2
10                             IndiGo      1 stop     29
11                             IndiGo     2 stops      2
12                             IndiGo    non-stop      5
13                        Jet Airways      1 stop      8
14                        Jet Airways     2 stops     22
15                        Jet Airways    non-stop      3
16               Jet Airways Business      1 stop      2
17               Jet Airways Business     2 stops      1
18                  Multiple carriers      1 stop      2
19                  Multiple carriers     2 stops      3
20                  Multiple carriers     3 stops      1
21  Multiple carriers Premium economy      1 stop      1
22                           SpiceJet      1 stop     10
23                           SpiceJet    non-stop      4
24                             Trujet      1 stop      1
25                            Vistara      1 stop      3
26                            Vistara    non-stop      3
27            Vistara Premium economy    non-stop      2

In [59]:
import pandas as pd
from IPython.display import display

df = pd.read_csv("C:/msys64/home/for/10th/standard/flight_data_homework.csv")

# 피벗테이블, 출발지 도착지 기준 count airline, desc
pivot = pd.pivot_table(df, index=['Source', 'Destination'], values = 'Airline', aggfunc='count').sort_values('Airline', ascending = False).reset_index()


# 필터링
filter = df.loc[(df["Airline"] == "Air India") & (df["Price"] >= 7000)]



display(pivot)
display(filter)

     Source Destination  Airline
0     Delhi      Cochin     4537
1   Kolkata    Banglore     2871
2  Banglore       Delhi     1265
3  Banglore   New Delhi      932
4    Mumbai   Hyderabad      697
5   Chennai     Kolkata      381

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
10,Air India,1/06/2019,Delhi,Cochin,DEL → BLR → COK,09:45,23:00,13h 15m,1 stop,No info,8907
15,Air India,3/03/2019,Delhi,Cochin,DEL → AMD → BOM → COK,16:40,19:15 04 Mar,26h 35m,2 stops,No info,14011
18,Air India,12/06/2019,Delhi,Cochin,DEL → CCU → BOM → COK,20:15,19:15 13 Jun,23h,2 stops,No info,13381
31,Air India,1/05/2019,Kolkata,Banglore,CCU → GAU → DEL → BLR,09:50,23:15,13h 25m,2 stops,No info,13227
...,...,...,...,...,...,...,...,...,...,...,...
10661,Air India,9/05/2019,Delhi,Cochin,DEL → BOM → COK,13:00,19:15,6h 15m,1 stop,No info,8372
10662,Air India,24/03/2019,Kolkata,Banglore,CCU → BOM → GOI → BLR,09:25,05:35 25 Mar,20h 10m,2 stops,No info,12352
10669,Air India,15/06/2019,Delhi,Cochin,DEL → BOM → COK,08:00,19:15,11h 15m,1 stop,No info,9929
10670,Air India,12/05/2019,Kolkata,Banglore,CCU → IXR → DEL → BLR,05:50,23:15,17h 25m,2 stops,No info,11411
10682,Air India,9/05/2019,Delhi,Cochin,DEL → GOI → BOM → COK,10:55,19:15,8h 20m,2 stops,No info,11753